In [1]:
## List is the sequence data type , it is created by using a square brackets , it is immutable,it can containn different data types

In [3]:
l = ["apple","banana",'cherry']
print(l)

['apple', 'banana', 'cherry']

In [4]:
l2 = ["apple","banana","cherry",True,1,2,3]
print(l2)

['apple', 'banana', 'cherry', True, 1, 2, 3]

In [5]:
print(l2[2:4])

['cherry', True]

In [6]:
print(l2[:5])

['apple', 'banana', 'cherry', True, 1]

In [8]:
marks = [10,23,12,41,75]
Fruits = ["apple","orange","mango","banana"]

print(Fruits[2:3])

['mango']

In [9]:
str1 = "format"
print(str1[1:6])

ormat

In [10]:
marks = [10,23,41,75]
print(marks[0])

10

In [11]:
marks = [10,23,41,75]
print(marks[-1])

75

In [15]:
i = 0
while i<4:
    print(marks[i],end = '\t')
    i = i+1

10	23	41	75

In [19]:
marks = [75,60,45,79,65,71]
i = 0
while i<6:
    print(marks[i],end = '\t')
    i = i+1

75	60	45	79	65	71

In [20]:
i = -1
while i>=-4:
    print(marks[i])
    i = i+-1

71
65
79
45

In [29]:

l2 = ["apple","banana","cherry",1,3,1.2,True]
l2[0]

'apple'

In [30]:
l2.index("apple")

0

In [31]:
l2.index("cherry")

2

In [32]:
l2[0] = "kiwi"
l2

['kiwi', 'banana', 'cherry', 1, 3, 1.2, True]

In [33]:
l2[1:3] = ["abc","pqr"]
l2

['kiwi', 'abc', 'pqr', 1, 3, 1.2, True]

In [34]:
l1 = [11,22]
l3 = l2+l1
l3

['kiwi', 'abc', 'pqr', 1, 3, 1.2, True, 11, 22]

In [35]:
l2.append(16)
l2

['kiwi', 'abc', 'pqr', 1, 3, 1.2, True, 16]

In [37]:
l2.append(["v","f"])
l2

['kiwi', 'abc', 'pqr', 1, 3, 1.2, True, 16, ['v', 'f']]

In [38]:
l2[:8]

['kiwi', 'abc', 'pqr', 1, 3, 1.2, True, 16]

In [39]:
l2[8]

['v', 'f']

In [40]:
l2.extend([8,9,79])
l2

['kiwi', 'abc', 'pqr', 1, 3, 1.2, True, 16, ['v', 'f'], 8, 9, 79]

In [42]:
l2.extend([1.40])
l2

['kiwi', 'abc', 'pqr', 1, 3, 1.2, True, 16, ['v', 'f'], 8, 9, 79, 1.4, 1.4]

In [55]:
l2.insert(1,15)
l2

['kiwi',
 15,
 'abc',
 18,
 18,
 18,
 'pqr',
 3,
 1.2,
 True,
 16,
 ['v', 'f'],
 8,
 9,
 79,
 1.4,
 1.4]

In [56]:
l2.insert(3,18)
print(l2)

['kiwi', 15, 'abc', 18, 18, 18, 18, 'pqr', 3, 1.2, True, 16, ['v', 'f'], 8, 9, 79, 1.4, 1.4]

In [57]:
l2[7]

'pqr'

In [58]:
l2.index(15)

1

In [59]:
l2.remove(1)
print(l2)

['kiwi', 15, 'abc', 18, 18, 18, 18, 'pqr', 3, 1.2, 16, ['v', 'f'], 8, 9, 79, 1.4, 1.4]

In [60]:
l2.count(18)

4

In [61]:
l2.reverse()
print(l2)

[1.4, 1.4, 79, 9, 8, ['v', 'f'], 16, 1.2, 3, 'pqr', 18, 18, 18, 18, 'abc', 15, 'kiwi']

In [62]:
list1 = [1,5,3,8,90,33,45]
list1.sort()

In [63]:
list1

[1, 3, 5, 8, 33, 45, 90]

In [64]:
list1 = "hello"
len(list1)

5

In [65]:
list2 = [2254,133,12454,123]
print(max(list2))

12454

In [66]:
print(min(list2))

123

In [67]:
print(sum(list2))

14964

In [69]:
print(list2[:-1])

[2254, 133, 12454]

In [70]:
print(list2[-1])

123

In [71]:
names = ["amir","bear","charlton","daman"]
print(names[-1][-1])

n

In [79]:
names1 = ["Amir","Bear","Charlton","Daman"]
names2 = names1
names3 = names1[:]
names2[0] = "alice"
names3[1] = 'bob'
sum = 0
for ls in (names1 , names2 , names3):
    print(ls)
    if ls[0] == 'alice':
        sum +=1
        if ls[1] == 'bob':
            sum += 10
        print(sum)

['alice', 'Bear', 'Charlton', 'Daman']
1
['alice', 'Bear', 'Charlton', 'Daman']
2
['Amir', 'bob', 'Charlton', 'Daman']

In [80]:
my_list = [1,5,6,7,89,0]
my_list.insert(3,5)
print(my_list)

[1, 5, 6, 5, 7, 89, 0]

In [81]:
list_1 = [11,2,23]
list_2 = [11,2,2]
print(list_1<list_2)

False

In [85]:

## append function is used to add new item into the list

my_list.append(5)
print(my_list)

[1, 5, 6, 5, 7, 89, 0, [5], [5], 5]

In [86]:
## Tuple are used to store multiple items in a single variable , tuple is one of the 4 in built data type in python to store collection of the data
# tuple is the collection which is ordered and unchangeable
# tuples are written with round brackets

In [87]:
tup = ("apple","banana","cherry")
print(tup)

('apple', 'banana', 'cherry')

In [88]:
tup = ("apple","banana","cherry","apple","cherry")
print(tup)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [89]:
tup = ("apple","banana","cherry","apple","cherry")
tup1 = (2,3,5,6,7,10)
tup2 = (True,False,True,False,False)

In [90]:
## set is a collection which is unordered,unchangeable,and unindexed
## Dictionary is a collection which is ordered and changeable no duplicate members

In [91]:
tup = ("apple","banana","cherry","apple","cherry" , "mango","orange","grapes")
l4 = list(tup)
l4[1] = "niks"
tup

('apple', 'banana', 'cherry', 'apple', 'cherry', 'mango', 'orange', 'grapes')

In [92]:
l4

['apple', 'niks', 'cherry', 'apple', 'cherry', 'mango', 'orange', 'grapes']

In [93]:
tup1 = tuple(l4)
print(tup1)

('apple', 'niks', 'cherry', 'apple', 'cherry', 'mango', 'orange', 'grapes')

In [95]:
print(tup1[:-4])

('apple', 'niks', 'cherry', 'apple')

In [96]:
print(tup1[1:8])

('niks', 'cherry', 'apple', 'cherry', 'mango', 'orange', 'grapes')

In [98]:
tup5 = ("1111",)
tup = tup1+tup5
print(tup)

('apple', 'niks', 'cherry', 'apple', 'cherry', 'mango', 'orange', 'grapes', '1111')

In [100]:
tu = ("1243",)
t = tu+tup

print(t)

('1243', 'apple', 'niks', 'cherry', 'apple', 'cherry', 'mango', 'orange', 'grapes', '1111')

In [101]:
tup1

('apple', 'niks', 'cherry', 'apple', 'cherry', 'mango', 'orange', 'grapes')

In [102]:
tup1 = ('apple', 'niks', 'cherry', 'apple', 'cherry', 'mango', 'orange', 'grapes')
for x in tup1:
    print(x)

apple
niks
cherry
apple
cherry
mango
orange
grapes

In [104]:
tup1 = ('apple', 'niks', 'cherry', 'apple', 'cherry', 'mango', 'orange', 'grapes')
for i in range(len(tup1)):
    print(i)

0
1
2
3
4
5
6
7

In [105]:
tuple1 = ("a","b","c")
tuple2 = (1,2,3)
tuple3 = tuple1+tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [106]:
fruits = ("apple","banana","cherry")
mytuple = fruits*2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [108]:
t = (1,6,3,4,7,8,2,9,16)
x = t.count(3)
print(x)

1

In [109]:
x = t.index(4)
print(x)

3

In [120]:
tuple1 = (11,22,33,44,55,66)
copied_element = []

for element in tuple1:
    if element == 44 or element == 55:
        copied_element.append(element)
        print("copied element:",copied_element)

copied element: [44]
copied element: [44, 55]

In [121]:
t1 = 4,5,6
print(type(t1))

<class 'tuple'>

In [123]:
t1 = (1,2,3,4,5,6,7,8)
print(t1)
print(t1*2)
print(t1+t1)
print(len(t1)*2)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
16

In [124]:
t1 = (1,2,3,4,5,6,7,8)
print(t1[0])
print(t1[-1])
print(t1[2+3])
print(t1[4-1])
print(t1[7%2])

1
8
6
4
2

In [125]:
s = {1,2,3,4}
print(s)

{1, 2, 3, 4}

In [126]:
s = {1,2,3,4,5,True}
print(s)

{1, 2, 3, 4, 5}

In [127]:
s = {1,2,3,4,"apple","mango",12.6,True}
print(s)

{1, 2, 3, 4, 'mango', 12.6, 'apple'}

In [128]:
for i in s:
    print(i)

1
2
3
4
mango
12.6
apple

In [129]:
s = {True,2,3,4,"apple","mango",12.6,1}
print(s)

{True, 2, 3, 4, 'mango', 12.6, 'apple'}

In [130]:
for i in s:
    print(i)

True
2
3
4
mango
12.6
apple

In [131]:
s1 = {"ram","shyam","bharat","laxman","hanuman"}
print(s1)

{'shyam', 'hanuman', 'laxman', 'bharat', 'ram'}

In [132]:
print("ram" in s1)

True

In [133]:
print("ram1" in s1)

False

In [134]:
s = {1,2,3,4,5,"Nik","apple",12.6}
s1 = {"ram","sita","shyam","meera"}
s.update(s1)
s

{1, 12.6, 2, 3, 4, 5, 'Nik', 'apple', 'meera', 'ram', 'shyam', 'sita'}